pages:
  image: python:latest
  script:
    - pip install mkdocs
    - pip install mkdocs-material
    - mkdir docs
    - cp README.md docs/index.md
    - cp CONTRIBURING.md docs/contriburing.md
    - cp CREDITS.md docs/credits.md
    - cp LICENSE docs/license.md
    - mkdocs build -d public/
  artifacts:
    paths:
      - public
  only:
    - master
